.main {
  /* width: 100vw; */
  padding: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* justify-content: space-around; */
}

/* .main>* {
  flex: 1;
  flex-basis: calc(6vw + 5em);
} */


/* 
.movie.selected {
}

.movie.selected .poster {
  
}

.movie.selected .overview {
  overflow:hidden;
  display: block;
}

.poster {
  min-width: calc(15vw + 5em);
  position: relative;
}

.poster .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
}

.overview {
  padding: 1em;
  display: none;
  min-width: calc(15vw + 10em);
  flex-basis: 100%;
}

.overview-description {
  word-wrap: break-word;
  padding: 0.5em;
  width: calc(12vw + 10em);
}

.img {
  width: 100%;
} */

